body{
	background:rgb(202, 197, 195);
}
.label-alert {
	background-color: #8a0505;
}
h1{
	color: #c9252c;
}
ul.nav-tabs li:not(.active) a{
	color: #c9252c;
}
.prices_details td{
	padding: 0px 8px !important;
}
.modal-dialog{
	max-width: 500px;
	margin: 1.75rem auto;
}
.modal-header {
	padding: 8px 15px 0px 15px;
}
.modal-footer {
	padding: 8px;
}
.modal-content{
	width: 100%;
}
.modal-dialog-centered{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: calc(100% - (.5rem * 2));
}
.align-middle{
	vertical-align: middle !important;
}

.badge-danger {
	color: #fff;
	background-color: #dc3545;
}